/.vs
/obj
/PersonalEconomist.WebAPI/appsettings.json
/PersonalEconomist.WebAPI/appsettings.Development.json
/PersonalEconomist.WebAPI/obj
/PersonalEconomist.WebAPI/bin
/PersonalEconomist.Services/obj
/PersonalEconomist.Domain/obj
/PersonalEconomist.Domain/bin
/PersonalEconomist.Entities/bin
/PersonalEconomist.Entities/obj
/PersonalEconomist.Services/bin
/PersonalEconomist.WebAPI/Efmigrationshistory.cs
